body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
}

.card{
    width: fit-content;
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 15px;
}

img{
    border-radius: 15px;
}

.container{
    text-align: center;
}

h2{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

h4{
    color: hsl(216, 15%, 48%);
    font-weight: 400;
}




